*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: #212121;
}

h1{
    font-family: "Caveat", cursive;
    color: yellow;
    transition: 0.5s;
    filter: drop-shadow(3px 3px 5px black);
}

.box{
    display: flex;
    margin: 20px;
    justify-content: end;
}

#trilho{
    width: 30px;
    height: 15px;
    background-color: white;
    border-radius: 80px;
    position: relative;
    text-align: center;
}

 .cursor{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color:black;
    position: absolute;
    left:1px;
    transition: 0.5s;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
} 

body.dark{
    background-color: #e4e4e4;
}

body.dark h1{
    color: red;
    filter: drop-shadow(3px 3px 5px gray);
}

#trilho.dark {
    background-color:#5a4e4e;
}

.trilho.dark .cursor{
    left: 14px;
    background-color: aliceblue;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 900;
    color: white;
}
.texto span {
    font-size: 50px;
    position: relative;
    text-decoration: none;
    color: yellow;
    transition: 0.5s;
}

.texto.dark span{
    color: red;
}

.texto span::before {
    content: "";
    animation: palavras infinite 35s;
}

.texto span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid yellow;
    right: -10px;
    animation: barra 0.5s infinite, digita 35s steps(15) infinite  ;
    width: calc(100% + 18px);
    background-color: #212121;
}

.texto.dark  span::after{
    border-left: 2px solid red;
    background-color: #e4e4e4;
}

@keyframes digita {
    1%, 7%, 20%, 25%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
}
@keyframes barra {
    0% {
        border-left: 2px solid #212121;
    }
}
@keyframes palavras {
    0%,10% {
        content: "Policia militar";
    }
    11%,20% {
        content: "Disque denuncia";
    }
    21%,
    30% {
        content: "Polícia civil";
    }
    31%,
    40% {
        content: "Polícia rodoviaria";
    }
    41%,
    50% {
        content: "SAMU";
    }
    51%,
    60% {
        content: "Instituto médico legal";
    }
    61%,
    70% {
        content: "Corpo de bombeiros";
    }
    71%,
    80% {
        content: "Defesa civil";
    }
    81%,
    90% {
        content: "Direitos humanos";
    }
    91%,
    100% {
        content: "Procon";
    }}

    .help{
        margin-top:20px ;
        gap: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

input{
    text-align: center;
    width: 250px;
    height: 30px;
    border-radius: 9px;
    border: solid 1.5px yellow;
    filter: drop-shadow(5px 5px 5px black);
    color:#000000;
}

input.dark{
    border:solid 1.5px red;
    color: black;
}

::placeholder{
    font-family: "Caveat", cursive;
    font-weight: 600; 
} 

button{
    width: 120px;
    height: 35px;
    color: black;
    background-color: yellow;
    border: solid 1px rgb(119, 116, 116);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
    transition: 0.5s;
    margin-bottom: 30px;
}

button.dark{
    background-color: red;
    color: white;
    margin-bottom: 30px;
}

p{
    font-size: 25px;
    color: yellow;
    filter: drop-shadow(3px 3px 5px black);
    transition: 0.5s;
}

#descrição.dark{
    color: red;
    filter: none;
}

#detalhes.dark{
    color: red;
    filter: none;
}
